#nav-bar {
  margin: 0;
  color: #e8fdff;
  background-color: #00a087;
  font-size: 30px;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 1;
 }

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
 }

#nav-bar .header {
  box-sizing: inherit;
  float: left;
  line-height: 2.3;
  font-size: 40px;
 }

#nav-bar .compose {
    float: right;
    color: #18abc5;
    padding: 12px;
    margin-top: 10px;
    background-color: #e8fdff;
    border: 1px solid #00d8ff;
    border-radius: 10px;
}

#nav-bar .compose:hover {
    cursor: pointer;
    float: right;
    color: black;
    padding: 12px;
    margin-top: 10px;
    background-color: #fffcf8;
    border: 1px solid black;
    border-radius: 10px;
}

